:root {
    --background-color: #121212;
    --text-color: #b3af2d;
    --link-color: #ffb800;
    --primary-color: #bb86fc;
    --secondary-color: #1e1e1e;
    --border-color: #333333;
}

html {
    font-size: 22px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

p {
    line-height: 1.6;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}